@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Overrides */
body {
  background-color: #0A0F16;
  color: #E8EDF3;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.font-mono {
  font-family: 'IBM Plex Mono', monospace !important;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem !important;
  background: #0A0F16 !important;
}
